.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 1rem 0 0 0;
  color: hsl(var(--color-text-base));
  font-family: Lato, sans-serif;
}

.app__consent {
  margin-top: 4rem;
  padding: 1rem;
  color: hsl(var(--color-text-muted));
  text-align: center;
}

.app__consent-title {
  color: hsl(var(--color-text-base));
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.app__consent-description {
  margin-top: 0.5rem;
}

.app__content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 56rem;
  overflow: hidden;
}

.app__body {
  flex-grow: 1;
  min-height: 0;
  overflow-y: auto;
  scrollbar-width: none;
}

.app__content--inventory {
  max-width: none;
}

.app__body::-webkit-scrollbar {
  display: none;
}

.app__consent-spacer {
  flex-shrink: 0;
  height: 6rem;
}
