@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lato:wght@400;700&display=swap');

:root {
  --color-background: 25 10% 12%;   /* Very Dark, Warm Brown/Gray */
  --color-surface: 25 10% 20%;      /* Dusty Dark Brown for cards/modals */
  --color-text-base: 40 25% 92%;   /* Desaturated Beige (Off-White) */
  --color-text-muted: 40 15% 65%;  /* Muted Beige for secondary text */
  --color-accent: 40 30% 75%;       /* Brighter Beige for highlights */
  --color-primary: 40 30% 75%;      /* Using the accent beige for primary actions */
  --color-destructive: 10 30% 40%;  /* Desaturated, Rusty Red for danger */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: theme('colors.background');
  color: theme('colors.text-base');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Hide arrows in Chrome, Safari, Edge, Opera */
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  /* Hide arrows in Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}
